
@model WebBlog.Models.LoginViewModel




<html>
<head>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/estilo.css" rel="stylesheet" />
    <title>Resenha Cultural - Login</title>
</head>
<body>
    <div class="container">
        <main id="login-form">
            <h2>Resenha Cultural - Login</h2>
            @Html.ValidationSummary()
            @using (Html.BeginForm("Autentica", "Usuario", FormMethod.Post))
            {

                @Html.LabelFor(lvm => lvm.Login)
                @Html.TextBoxFor(lvm => lvm.Login, new { @class = "form-control" })

                @Html.LabelFor(lvm => lvm.Senha)
                @Html.TextBoxFor(lvm => lvm.Senha, new { @class = "form-control" })

                <button class="btn btn-primary" type="submit" >Logar</button>

            }
        </main>
</div>
</body>
</html>